.page-footer {
	display: flex;
	border-top: 2px solid #c0c0c0;
	font-size: 30px;
	align-items: center;
}
.footer-list {
	list-style: none;
	position: relative;
	&:nth-child(5) {
		margin-left: 200px;
	}
	&:nth-child(6) {
		margin-right: 250px;
	}

}
.footer-item {
	margin-bottom: 30px;
}
.footer-item-link {
	text-decoration: none;
	color: #6c4527;
	display: flex;
	align-items: center;
	img {
		margin-right: 10px;
	}
	&:focus {
		color: #46c2c6;
	}
	
}
.footer-item-link:hover img {
	transform: scale(1.2);
}
.social-item {
	display: inline-block;
	margin-right: 20px;
}
.social-link img {
	&:hover {
		transform: scale(1.2);
	}
}