html {
	max-width: 1920px;
}
body {
	font-family: 'Wien';
	font-size: 21px;
	width: 100%;
}
.wrapper {
	position: relative;
	min-height: 100%;
	min-width: 970px;
	height: auto!important;
}
.wrapper:after {
	content: "";
	height: 80px;
	display: block;
}
.page-footer {
	height: 180px;
	min-width: 970px;
	margin-top: -80px;
}


@import 'header';
@import 'main';
@import 'footer';
